body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wow-card {
    position: relative;
    width: 90%;
    max-width: 750px;
    min-width: 215px;
    background: linear-gradient(to right, #00687F, #ffffff 120%);
    border-radius: 12px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.wow-card.yellow {
    background: linear-gradient(to right, #FDB71A, #ffffff 120%);
}

.wow-card.green {
    background: linear-gradient(to right, #00A887, #ffffff 120%);
}

.wow-info {
    color: #fff;
    font-weight: bold;
    max-width: 60%;
}

.wow-card.yellow .wow-info {
    color: #000;
}

.wow-info h2.wow-header {
    font-size: 2rem;
    margin: 0;
}

.wow-info p.wow-time {
    font-size: 14px;
    margin: 4px 0 0 0;
}

.wow-content {
    width: 80%;
    height: auto;
    background: linear-gradient(to right, #fff -20%, transparent);
    border-radius: 8px;
    padding: 0 10px;
    margin: 10px 0;
}

.wow-text-section {
    flex: 1;
}

.wow-text-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.wow-text-section p {
    font-size: 16px;
    margin-bottom: 20px;
}

.wow-button {
    z-index: 2;
}

.wow-button a {
    display: inline-block;
    background-color: #003B4C;
    color: white;
    border: 2px solid white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.wow-button a:hover {
    transform: scale(1.05);
    background-color: #008EA9;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
}

.wow-visuals {
    position: absolute;
    display: block;
    right: 20px;
    top: 20px;
}

.wow-icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wow-icon-circle img {
    width: 100px;
    height: 100px;
    zoom: 80%;
}

.wow-card-image img {
    display: none;
}

.wow-card-image.blue {
    bottom: -15px;
    zoom: 120%;
    right: -30px;
}

.wow-card-image.yellow {
    bottom: -90px;
    zoom: 78%;
    right: 80px;
}

.wow-card-image.green {
    bottom: -64px;
    zoom: 150%;
    right: -70px;
}

@media (min-width: 450px) {
    .wow-icon-circle img {
        zoom: 120%;
    }
}

@media (min-width: 550px) {

    .wow-icon-circle img {
        zoom: 150%;
    }

    .wow-card-image {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        margin: 0;
        padding: 0;
    }

    .wow-card-image img {
        display: block;
        width: 380px;
        height: auto;
        border: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
    .wow-content, .wow-info {
        width: 45%;
    }
}

@media (min-width: 660px) {
    .wow-content, .wow-info {
        width: 55%
    }
}

@media (min-width: 750px) {
    .wow-content, .wow-info {
        width: 60%;
    }
}
